<!--
 - Created by hardikranjan on 07/07/20.
 -->

<!-- Dependent Picklist -->
<template>

    <!--  Show Error  -->
    <div class="slds-grid slds-wrap" if:true={isError}>
        <div class="slds-p-horizontal--small slds-size--1-of-1" style="padding-top: 12px;">
            <div class="slds-form-element slds-hint-parent">
                <div class="slds-form-element__control">
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                        <span class="slds-assistive-text">Error</span>
                        <p class="slds-align_absolute-center">{errorMessage}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  Controlling Field   -->
    <div class="slds-grid slds-wrap" if:false={isError}>
        <div class="slds-p-horizontal--small slds-size--1-of-2">
            <div class="slds-form-element slds-hint-parent">
                <lightning-combobox label={controllingPicklistLabel}
                                    name="Controlling Picklist"
                                    options={optionValues.controlling}
                                    onchange={handleControllingChange}
                                    placeholder="None"
                                    value={selectedValues.controlling}>
                </lightning-combobox>
            </div>
        </div>


        <!--     Dependent Field   -->
        <div class="slds-p-horizontal--small slds-size--1-of-2">
            <div class="slds-form-element slds-hint-parent">
                <div class="slds-form-element__control">
                    <lightning-combobox label={dependentPicklistLabel}
                                        name="Dependent Picklist"
                                        options={optionValues.dependent}
                                        placeholder="None"
                                        onchange={handleDependentChange}
                                        disabled={isDisabled}
                                        value={selectedValues.dependent}>
                    </lightning-combobox>
                </div>
            </div>
        </div>
    </div>
</template>